﻿@model Food_Online.Models.UserDetails

@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>
<hr>
<div>
    @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
    @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))

    {
        @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
        <br />
  
        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", placeholder="Password" , @type = "password" } })
        <br />


            <button type="submit" name="BtnSubmit" class="btn btn-default left">Login</button>
           @Html.DisplayName("or ")
           @Html.ActionLink("Sign Up", "Create", "Customers")
    }
    
</div>





