﻿@model Food_Online.Models.Order

@{
    ViewBag.Title = "Index";
    var foods = ViewData["Foods"] as List<Food_Online.Models.Food>;
    var orders = ViewData["Orders"] as List<Food_Online.Models.Order>;
    var totalPrice = 0;
}

<table width="100%">
    <tr>
        <td><h2>Cart List</h2></td>
        <td align="right">@Html.ActionLink("Trade History", "TradeHistory" , "Orders",null, new { @style= "text-decoration:none; color:#daa520;" })</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Food name")
        </th>
        <th>
            @Html.DisplayName("Image")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in orders)
{
    if (item.Status == "False")
    {
    <tr>
          @{ 
              foreach (var food in foods)
              {
                  if (food.Id == item.FoodId)
                  {
                      var img_name = food.Name + ".jpg";
                      <td>
                          @Html.DisplayFor(ProcessModelInfo => food.Name)
                      </td>
                      <td>
                          <img src="@Html.DisplayFor(modelItem => food.Image)" width="300" />
                      </td>
                      <td>
                          @Html.DisplayFor(ProcessModelInfo => food.Price) ฿
                          @{ 
                              totalPrice += Convert.ToInt32(food.Price);
                          }
                      </td>
                                  }
                              }
            }
        <td>
            @{ 
                if (item.Status == "False")
                {
                    @Html.DisplayName("Unconfirm");
                }
                else
                {
                    @Html.DisplayName("Ordered");
                }
            }
        </td>
        @{
            if (item.Status == "False")
            {
                <td>
                   @using (Html.BeginForm("Edit", "Orders", FormMethod.Post))
                   {
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @Value = item.Id, @style = "display: none" } })
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @Value = "True", @style = "display: none" } })
                    @Html.EditorFor(model => model.FoodId, new { htmlAttributes = new { @class = "form-control", @Value = item.FoodId, @style = "display: none" } })
                    @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @Value = item.CustomerId, @style = "display: none" } })
                    <input type="submit" value="Confirm" class="btn btn-default" />
                   }
                </td>
                <td>
                   @using (Html.BeginForm("DeleteConfirmed", "Orders", FormMethod.Post))
                   {
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @Value = item.Id, @style = "display: none" } })
                    <input type="submit" value="Cancle" class="btn btn-default" />
                   }
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        }
    </tr>
    }
 }
    <tr>
        <td></td>
        <td>Total Price</td>
        <td>@Html.DisplayFor(modelItem => totalPrice) ฿</td>
        <td></td>
        <td>
            @using (Html.BeginForm("ConfirmAll", "Orders", FormMethod.Post))
            {
            <input type="submit" value="Confirm All" class="btn btn-default" />
            }
        </td>
        <td></td>
    </tr>
</table>
