﻿@model Food_Online.Models.Order

@{
    ViewBag.Title = "Details";
    var category = ViewData["category"] as Food_Online.Models.Category;
    var user = ViewData["User"] as Food_Online.Models.Customer;
}
    <h2>@Html.DisplayName(category.Name)</h2>
<div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Detail
            </th>
            <th></th>
        </tr>
    @foreach (var item in category.Foods)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" width="300" />
            </td>
            <td width="100px">
                @Html.DisplayFor(modelItem => item.Price) ฿
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @using (Html.BeginForm("Create", "Orders", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @Value = "False", @style = "display: none" } })
                    @Html.EditorFor(model => model.FoodId, new { htmlAttributes = new { @class = "form-control", @Value = item.Id, @style = "display: none" } })

                    if (User.Identity.Name != "")
                    {
                        @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @Value = user.Id, @style = "display: none" } })
                    }

                    <input type="submit" value="Add to Cart" class="btn btn-default" style="background-color:#DAA520; border-color:black; color:#FAFAD2;"/>
                }
            </td>
        </tr>
    }
    </table>
</div>

