﻿@model IEnumerable<Food_Online.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Category list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @Class="btn btn-default"})
        </td>
    </tr>
}

</table>
