﻿@model Food_Online.Models.Order
@{
    ViewBag.Title = "Index";
    var foods = ViewData["Foods"] as List<Food_Online.Models.Food>;
    var user = ViewData["User"] as Food_Online.Models.Customer;
    var categories = ViewData["Categories"] as List<Food_Online.Models.Category>;
}

<h2>BuwinPro's Steak House</h2>
@Html.ActionLink("Create", "Create")
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th>
            Detail
        </th>
        <th>
          Category
        </th>
        <th></th>
    </tr>

@foreach (var item in foods) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" width="300" />
        </td>
        <td width="100px">
            @Html.DisplayFor(modelItem => item.Price) ฿
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        @{
            foreach (var c in categories)
            {
                if (c.Id == item.CategoryId)
                {
                    <td>
                        @Html.ActionLink(c.Name, "Details" , "Categories" , new { id = item.CategoryId } , new { @style="text-decoration: none" })
                    </td>
                }
            }
        }
        <td>
            @using (Html.BeginForm("Create", "Orders", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @Value = "False", @style="display: none" } })
                @Html.EditorFor(model => model.FoodId, new { htmlAttributes = new { @class = "form-control", @Value = item.Id, @style = "display: none" } })
                
                    if (User.Identity.Name != "")
                    {
                        @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @Value = user.Id, @style = "display: none" } })
                }

                <input type="submit" value="Add to Cart" class="btn btn-default" style="background-color:#DAA520; border-color:black; color:#FAFAD2;" />
            }
            
        </td>
        
    </tr>
}
</table>
