﻿@{
    ViewBag.Title = "Home Page";
}
<body>


    <center><h1><img src="https://www.picz.in.th/images/2017/12/15/buwinrestarant.png" width="100"> BuwinPro's Steak house<img src="https://www.picz.in.th/images/2017/12/15/buwinrestarant.png" width="100"></h1></center>
    <h4>
        <center><img src="http://s3.amazonaws.com/dubairestaurants.tips/media/steak-1415778598.png" width="80%"  /></center>
    </h4>
    <hr>
    <table align="center" width="100%" >
        <tr>
            <td align="right">
                <right><img src="https://www.jalshoppingam.com/4802-thickbox_default/us-sirloin-filet-mignon-rib-eye-steak-3-each.jpg " width="400px" /></right>
            </td>
            <td style="padding: 10px 10px 10px 10px;vertical-align:text-top;">
                <h1>Filet Mignon</h1><br />
                <h3>
                    Cut from the center portion of the tenderloin and considered by many to be the
                    most elegant steak. Our filet mignon is the leanest and the tenderest of all steaks.
                    Perfectly aged and served grilled along with your choice of sauces. For those with
                    a fine appetite, treat yourself to a 10 oz
                </h3>
            </td>
        </tr>
</table>


    <hr>
    <table align="center" width="100%">
        <tr>
            <td align="right">
                <h1>Rib Eye</h1><br />
<h3>
    Cut from the center of the rib, this prime steak has
    an excellent full bodied flavor. Although slightly more fatty this melts on the grill
    and makes for a very juicy steak. 
</h3>
            </td>
            <td style="padding: 10px 10px 10px 10px;vertical-align:text-top;">
                <img src="https://crystalrivermeats.com/wp-content/uploads/2016/10/Rib_Eye_Raw-407.jpg" width="500px" />
                
            </td>
        </tr>
    </table>

    <hr>
    <table align="center" width="100%">
        <tr>
            <td align="right">
                <right><img src="http://www.foodietaste.com/storages/Pedia/2322559221327.jpg" width="500px" /></right>
            </td>
            <td style="padding: 10px 10px 10px 10px;vertical-align:text-top;">
                <h1>T-Bone  </h1><br />
                <h3>
                    The T-bone is a magnificent steak offering the best of both worlds, namely a small
                    tenderloin as well as a good sirloin, served on the bone for the connoisseurs.
                </h3>
            </td>
        </tr>
    </table>
    <hr>


    <center><h1>STEAK GUIDELINES</h1></center>
    <h3>
        <table class="gold" align="center" border="1">
            <tr>
                <th>
                    Rare
                </th>
                <th>
                    Cool,red cener
                </th>
                <th>
                    8
                </th>
                <th>
                    Oz
                </th>
                <th>
                    230
                </th>
                <th>
                    grams
                </th>
            </tr>
            <tr>
                <th>
                    Medium Rare
                </th>
                <th>
                    Warm,red center
                </th>
                <th>
                    10
                </th>
                <th>
                    Oz
                </th>
                <th>
                    285
                </th>
                <th>
                    grams
                </th>
            </tr>
            <tr>
                <th>
                    Medium
                </th>
                <th>
                    Hot,pink cener
                </th>
                <th>
                    12
                </th>
                <th>
                    Oz
                </th>
                <th>
                    400
                </th>
                <th>
                    grams
                </th>
            </tr>
            <tr>
                <th>
                    Medium Well
                </th>
                <th>
                    Losing pink, but juicy
                </th>
                <th>
                    14
                </th>
                <th>
                    Oz
                </th>
                <th>
                    400
                </th>
                <th>
                    grams
                </th>
            </tr>
            <tr>
                <th>
                    Well Done
                </th>
                <th>
                    Grey-brown through tough
                </th>
                <th>
                    16
                </th>
                <th>
                    Oz
                </th>
                <th>
                    460
                </th>
                <th>
                    grams
                </th>
            </tr>

        </table>
    </h3>
    <hr>
    <center><h1>Suggested Sauces</h1></center>
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <img src="https://i0.wp.com/www.thefrenchcookingacademy.com/wp-content/uploads/2017/02/Bearnaise.jpg?fit=1000%2C667&ssl=1" width="400px" />
            </td>
            <td >
                <center><h1>Béarnaise</h1></center>
            </td>
        </tr>
    </table>


    <hr>
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <center><h1>Red Wine Sauce</h1></center>
            </td>
            <td>
                <img src="https://smhttp-ssl-33667.nexcesscdn.net/manual/wp-content/uploads/2015/11/Steak-with-Red-Wine-Sauce-1024x768.jpg" width="500px" />

            </td>
        </tr>
    </table>
    <hr />
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <img src="https://prods3.imgix.net/images/articles/2015_09/Tasting_table_culinary_institute_steak_bone-in-ribeye_green_peppercorn_sauce_recipe_944.jpg" width="400px" />
            </td>
            <td>
                <center><h1>Green Peppercorn</h1></center>
            </td>
        </tr>
    </table>


    <hr>
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <center><h1>Wild Mushroom Sauce</h1></center>
            </td>
            <td>
                <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2006/10/23/0/fssp04_pa1a01_pd_g_gravey1.jpg.rend.hgtvcom.616.462.suffix/1371584091568.jpeg" width="500px" />

            </td>
        </tr>
    </table>
    
    <hr />
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <img src="http://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/recipes/sl/13/06/sweet-spicy-barbecue-sauce-sl-x.jpg?itok=nW58vv8Q" width="400px" />
            </td>
            <td>
                <center><h1> Barbecue Sauce</h1></center>
            </td>
        </tr>
    </table>


    <hr>
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <center><h1> Au Jus</h1></center>
            </td>
            <td>
                <img src="http://www.onthegobites.com/wp-content/uploads/2017/09/French-dip-au-jus.jpg" width="500px" />

            </td>
        </tr>
    </table>
    <hr />
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <img src="https://23991-presscdn-pagely.netdna-ssl.com/wp-content/uploads/2014/04/horseradish-cream-recipe.jpg" width="400px" />
            </td>
            <td>
                <center><h1>  Fresh or Creamed Horseradish</h1></center>
            </td>
        </tr>
    </table>
    <hr>
    <table align="center" width="100%">
        <tr>
            <td align="right" width="50%">
                <center><h1>Red Wine Sauce</h1></center>
            </td>
            <td>
                <img src="https://smhttp-ssl-33667.nexcesscdn.net/manual/wp-content/uploads/2015/11/Steak-with-Red-Wine-Sauce-1024x768.jpg" width="500px" />

            </td>
        </tr>
    </table>
</body>