﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        Food_Online.Models.FoodOnline_ModelContainer DB = new Food_Online.Models.FoodOnline_ModelContainer();
        var navbar_categories = DB.CategorySet.ToList();
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" >
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand"><img src="https://www.picz.in.th/images/2017/12/15/buwinrestarant.png" width="100"></a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-brand" style="font-size:24px;">@Html.ActionLink("Menu", "Index", "Foods")</li>
                    <li  class="navbar-brand" style="font-size:24px;">@Html.ActionLink("Cart", "Index", "Orders")</li>
                    <li class="dropdown  navbar-brand">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:24px;">Category<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var c in navbar_categories)
                            {
                                <li style="font-size: 16px;">
                                    @Html.ActionLink(c.Name, "Details" ,"Categories" , new { id=c.Id },null)
                                </li>
                            }
                        </ul>
                    </li>
                   
                </ul>
                    
                    @{
                        if (User.Identity.Name != "")
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbar-brand" style="font-size:24px;">@Html.ActionLink("Welcome " + User.Identity.Name, "Details" , "Customers" , null ,null)</li>
                                <li class="navbar-brand" style="font-size:24px;">@Html.ActionLink("Logout", "Logout", "Authentication")</li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbar-brand" style="font-size:24px;">@Html.ActionLink("Login", "Login", "Authentication", null,null)</li>
                            </ul>
                        }
                    }
                           
            </div>
        </div>
    </div>
    <div class="container body-content">
     @RenderBody()
    <hr />
    <footer>
        <p>
            Contact: 088-4342419<br>
            Email: kasididh_raumsook@cmu.ac.th
        </p>

    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
